/* FONT */
body {
  font-family: 'Inter', sans-serif;
}

/* UTILITIES */
.text-blue {
  color: color: rgb(3, 27, 78);
}

.text-white {
  color: #FFF;
}

.text-lightblue {
  color: #BBCDFF;
}

.pt-2 {
  padding-top: 2em;
}
.pt-3 {
  padding-top: 3em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pb-3 {
  padding-bottom: 3em;
}
.mt-1 {
  margin-top: 1em;
}
.mb-1 {
  margin-bottom: 1em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-navbar{
  margin-top: 120px;
}

.list-reset {
  list-style: none;
  text-decoration: none;
}
/* HEADER */
/* NAVBAR */
.navbar {
  background-image: none;
  background-color: #FFF;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.navbar-default {
  padding: 10px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.navbar-brand {
  padding: 7px;
}

.navbar-brand img{
  height: 30px;
}

.nav>li>a {
  padding: 10px 0;
}

.navbar-collapse {
  border: 0;
}

.navbar-default .navbar-nav>li>a  {
  color: rgb(3, 27, 78);
}

.navbar-default .navbar-toggle {
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #006AFF;
}

.navbar-default .navbar-toggle:focus {
  background-color: #FFF;
}

.btn-primary-outlined {
  background-color: #FFF;
  border: 1px solid #006aff;
  color: #006AFF;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 6px;
}

.btn-primary-outlined:hover {
  background-color: #006AFF;
  color: #FFF;
}
/* JUMBO */
#jumbotron {
  background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
  padding-bottom: 2em;
}

#jumbotron h1 {
  font-size: 38px;
  font-weight: 700;
}

#jumbotron .title p {
  font-size: 20px;
  font-weight: 500;
}

form {
  background-color: #FFF;
  border-radius: 5px;
  padding: 15px 20px;
  margin-right: -15px;
  margin-bottom: 2em;
  font-weight: 600;
}

.form-control {
  height: 45px;
}

form .btn {
  margin-top: 10px;
  width: 100%;
}

form h3 {
  font-size: 27px;
  font-weight: 700;
  color: #031C4E;
  }

form h4 {
  font-size: 25px;
  font-weight: 600;
  color: #006AFF;
}

.btn:active:focus {
  outline: 0;
  outline-offset: 0
}

.btn:active {
  background-image: none;
  -webkit-box-shadow: none;
}

.btn-account {
  color: #FFF;
  background-color: #579AFF;
  font-weight: 600;
}

.btn-account:focus {
  color: #FFF;
}

.btn-account:hover {
  color:#FFF;
}
.btn-google {
  color: #626262;
  background-color: #FFF;
  box-shadow: 4px 3px 4px -1px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  position: relative;
}

.btn-google:focus{
  color: #626262;
}

.btn-google:hover{
  color: #626262;
}

form {
  margin: 0;
}

form p {
  color: #374B72;
  padding-top: 10px;
  font-size: 12px;
  font-weight: 600;
}

form p a {
  color: #579AFF;
  text-decoration: underline;
}

.fa-google {
  font-size: 18px;
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translate(0, -50%);
}

/* MAIN */
/* BUSINESSES */
#businesses {
  background-color: #F3F5F9;
}

#businesses img {
  max-width: 100%;
  min-height: 77px;
}

#businesses h4 {
  font-size: 14px;
  font-weight: 600;
  color: #8F97AE;
  padding-bottom: 10px;
}

#businesses .customers a {
  color: #0771FF;
  font-weight: 600;
  padding-top: 10px;
}

#businesses .customers a:hover {
  text-decoration: none;
}
.fa-greater-than {
  font-size: 10px;
  padding-left: 5px;
}
/* DEPLOY */
.deploy-menu {
  border-left: 2px solid lightgrey;
}

.deploy-menu ul {
  padding-inline-start: 10px;
}

.deploy-menu ul li {
  padding: 8px 5px;
}

.deploy-menu ul li a {
  color: #75809A;
  font-size: 18px;
  font-weight: 500;
}

.deploy-menu:target {
  border-left:1px solid #579AFF;
}

.deploy-menu ul li a:hover {
  text-decoration: none;
  color: #579AFF;
}

#deploy h3 {
  font-size: 30px;
  font-weight: 700;
  color: #031C4E;
  }

#deploy h4 {
  font-size: 17px;
  font-weight: 700;
  color: #2D4069;
}

.deploy-title-text {
  font-size: 20px;
  font-weight: 500;
  color: #586686;
}

.deploy-text {
  font-size: 15px;
  font-weight: 500;
  color: #586686;
}

/* DESIGNED */
#designed {
  background-color: #F3F5F9;
}

#designed h3 {
  font-size: 30px;
  font-weight: 700;
  color: #031C4E;
  }

.designed-content img {
  width: 100%;
  padding-top: 70px;
}

#designed p {
  font-size: 20px;
  font-weight: 500;
  color: #586686;
}

#designed .arrow-left {
  font-size: 40px;
  text-align: right;
  line-height: 550px;
  display: none;
}

#designed .arrow-left a i {
  color: #6f7b97;
}

#designed .arrow-right {
  font-size: 40px;
  color: #011D4C;
  line-height: 550px;
  display: none;
}
#designed .arrow-right a i {
  color: #011D4C;
}

#designed h6 {
  color: #031C4E;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}

.circle {
  height: 10px;
  width: 10px;
  border: 1px solid #579AFF;
  border-radius: 50%;
  display: inline-block;
  margin-top: 60px;
  cursor: pointer;
}

.circles .circle:first-child {
  background-color: #579AFF;
}

.circle:active {
  background-color: #579AFF;
}
/* FEATURES */
#features h3 {
  font-size: 30px;
  font-weight: 700;
  color: #031C4E;
  }

#features h4 {
  font-size: 17px;
  font-weight: 700;
  color: #2D4069;
}

#features p {
  font-size: 15px;
  font-weight: 500;
  color: #98A0B3;
}

#features .row a {
  color: #3C8BFF;
  font-weight: 600;
}

/* REGIONS */
#regions {
  background-color: #0046C3;
}

#regions h3 {
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
  }

.service-row {
  margin: 0 5px;
  border-bottom: 1px solid #FFF;
  padding: 10px 0;
}

.acronym {
  color: #FFF;
  font-size: 13px;
  padding: 10px 0;
}
.city {
  color: #BAC8EA;
  font-size: 13px;
  padding: 10x 0;
}
.speed-test {
  color: #00D7D2;
  font-size: 13px;
  padding: 10px 0;
}

/* DEVELOPMENT */
#development {
  background-color: #F3F5F9;
}

#development h3 {
  font-size: 30px;
  font-weight: 700;
  color: #031C4E;
}

.development-card {
  margin: 0 auto;
  background-color: #FFF;
  margin-top: 40px;
  padding: 40px 0;
  border-radius: 5px;
}

.development-card img {
  max-width: 100%;
}

.development-card p {
  font-size: 20px;
  font-weight: 500;
  color: #5C6A88;
  padding-top: 15px;
}

.development-card h5 {
  font-size: 15px;
  font-weight: 700;
  color: #031C4E;
  padding-top: 10px;
  margin-bottom: 0;
}

.development-card h6 {
  font-size: 15px;
  font-weight: 500;
  color: #031C4E;
  margin-top: 5px;
  margin-bottom: 30px;
}

.development-card a {
  font-size: 15px;
  font-weight: 500;
  color: #006AFF;
}

.development-card a:hover {
  text-decoration: none;
}

#development .arrow-left {
  font-size: 40px;
  text-align: right;
  line-height: 400px;
  display: none;
}

#development .arrow-left a i {
  color: #6f7b97;
}

#development .arrow-right {
  font-size: 40px;
  color: #011D4C;
  line-height: 400px;
  display: none;
}
#development .arrow-right a i {
  color: #011D4C;
}

/* STARTED */
#started {
  background-color: #0037B0;
}

#started h3 {
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
  padding-top: 30px;
}

.started-btn {
  padding: 20px 0;
}

#started .started-btn a {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
}

/* FOOTER */
footer {
  background-color: #031C4E;
}

footer img {
  padding-top: 20px;
  padding-bottom: 15px;
}
footer .socials {
  padding-left: 0;
}

.text-grey {
  color: #5a6887;
}

footer p {
  font-size: 15px;
  font-weight: 600;
  color: #7A859D;
  margin: 0;
}

footer .socials li {
  color: #7A859D;
  font-size: 25px;
  display: inline-block;
  padding-right: 10px;
  padding-top: 10px;
}
.footer-lists h5 {
  font-size: 17px;
  font-weight: 600;
  color: #FFF;
}

.footer-lists ul {
  padding-left: 0;
}

.footer-lists ul li {
  padding-bottom: 10px;
}
.footer-lists ul li a {
  color: #A6ADBD;
  font-size: 15px;
  font-weight: 600;
}

footer ul li:hover {
  color: #FFF;
}

footer ul li a:hover {
  text-decoration: none;
  color: #FFF;
}
.live-chat {
  width: 365px;
  margin: 0 auto;
  position: relative;
  position: fixed;
  left: 15%;
  bottom: 5%;
  z-index: 1000;
}

.speech-ballon {
  width: 300px;
  background-color: #FFF;
  border-radius: 5px;
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

.speech-ballon p {
  color: #031C4E;
  padding: 10px 10px;
}

.triangle {
  height: 25px;
  width: 25px;
  background-color: #FFF;
  position: absolute;
  top: 30%;
  right: 17%;
  transform: rotate(45deg);
}
.shark {
  height: 60px;
  width: 60px;
  display: inline-block;
  border-radius: 5px;

}

.shark img {
  height: 60px;
  width: 60px;
  display: inline-block;
  padding: 0;
  border-radius: 5px;
  vertical-align: bottom;
}

.notifications {
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(255,0,0);
  border: 4px solid #FFF;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(20%, -40%);
}
/* MEDIA QUERIES */
@media all and (min-width:768px) and (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-collapse.collapse.in {
    display: block!important;
  }

  #jumbotron {
    padding-top: 120px;
  }

  .mt-navbar {
    margin-top: 0;
  }

  #designed p {
    font-size: 20px;
  }

  #designed .arrow-left,
  #designed .arrow-right,
  #development .arrow-left,
  #development .arrow-right {
    display: block;
  }

  .live-chat {
    left: 50%;
  }
}

@media all and (min-width:992px) and (max-width: 1199px) {
  .navbar-left, .navbar-right {
    margin-top: 5px;
    padding-left: 15px;
  }
  .navbar-left li a, .navbar-right li a {
    margin-left: 15px;
  }

  #jumbotron {
    padding-top: 120px;
  }
  #jumbotron h1 {
    font-size: 45px;
    font-weight: 700;
  }
  #jumbotron .title p {
    font-size: 25px;
    font-weight: 500;
  }

  .mt-navbar {
    margin-top: 0;
  }

  #businesses img {
    min-height: 150px;
  }
  #businesses h4 {
    font-size: 20px;
  }

  #businesses p {
    font-size: 16px;
  }

  #designed p {
    font-size: 20px;
  }

  #designed .arrow-left,
  #designed .arrow-right,
  #development .arrow-left,
  #development .arrow-right {
    display: block;
  }

  .live-chat {
    left: 5%;
  }
}

@media all and (min-width:1200px) {
  .navbar-left, .navbar-right {
    margin-top: 5px;
    padding-left: 15px;
  }
  .navbar-left {
    margin-left: 80px;
  }
  .navbar-left li a, .navbar-right li a {
    margin-left: 15px;
  }
  .mt-navbar {
    margin-top: 0;
  }
  #jumbotron {
    padding-top: 150px;
  }
  #jumbotron h1 {
    font-size: 60px;
    font-weight: 700;
  }
  #jumbotron .title p {
    font-size: 26px;
    font-weight: 500;
  }
  form h4 {
    font-size: 30px;
  }

  .form-control {
    height: 50px;
    font-size: 20px;
  }

  .btn.btn-account, .btn.btn-google {
    font-size: 17px;
  }
  form p {
    font-size: 15px;
  }
  #businesses img {
    min-height: 150px;
  }
  #businesses h4 {
    font-size: 20px;
  }

  #businesses p {
    font-size: 16px;
  }
  .deploy-title-text {
    font-size: 22px;
  }

  #designed p {
    font-size: 22px;
  }

  #designed .arrow-left,
  #designed .arrow-right,
  #development .arrow-left,
  #development .arrow-right {
    display: block;
  }

  .live-chat {
    left: 65%;
  }
}
